.button {
    line-height: 50px;
    height: 50px;
    margin-top: 30px;
    padding: 0 33px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #FC6435;
    border-radius: 40px;
    border: none;
}

.button:hover {
    background-color: rgb(255, 142, 108)
}