.button {
    line-height: 50px;
    height: 50px;
    margin-top: 30px;
    padding: 0 33px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #FC6435;
    border-radius: 40px;
    border: none;
}

.button:hover {
    background-color: rgb(255, 142, 108)
}

.button1 {
    line-height: 50px;
    height: 50px;
    margin-top: 40px;
    padding: 0 33px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #FC6435;
    border-radius: 40px;
    border: none;
    align-items: center;
    display: flex;
}

.button1:hover {
    background-color: rgb(255, 142, 108)
}

.send {
    line-height: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 0 33px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    background-color: yellow;
    border: none;
    align-items: center;
    display: flex;
}