.forma {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: flex-start;
}

.field {
    display: flex;
    flex-direction: row;
    background-color: #D8D8D8;
    line-height: 41px;
    border: none;
    resize: none; 
}

.name {
    margin-left: 10px;
}

.mail {
    text-decoration: none;
    color: black;
}

.mail:hover {
    text-decoration: none;
    color: black;
}