.head {
    height: 660px;
    position: relative;
}

.head__left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    background-color: #FCEA60;
}

.head__right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


