.hero {
    padding-top: 158px;
    font-weight: normal;
    font-size: 33px;
    color: white;
    text-transform: uppercase;
}

.hero1 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
}

.projects {
    margin-top: 116px;
    font-weight: bold;
    font-size: 32px;
}

.projects1 {
    font-weight: bold;
    font-size: 15px;
}

.projects__last {
    font-weight: normal;
    font-size: 15px;
    justify-content: flex-start
}

.projects__last1 {
    font-weight: normal;
    font-size: 15px;
    justify-content: flex-start;
}

.amigo {
    display: flex;
    margin-top: 99px;
    justify-content: center;
    padding-left: 110px 
}

.linking {
    margin-left: 30px
}