.Navigation__list {
    justify-content: right;
    display: flex;
    flex-direction: row;   
}

.Navigation__link {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.Navigation__link {
    margin-left: 16px;
}

.Navigation__link :first-child{
    margin: 0;
}

.Navigation__link:Hover {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

.Navigation__action {
    margin-left: 26px;
}

.Navigation__action :first-child {
    margin: 0;
}

.Navigation__actions {
    justify-content: right;
    display: flex;
    align-items: flex-end;
}

.Navigation {
    justify-content: flex-end;
    display: flex;
    padding-top: 34px;
    flex-direction: row;
    }