.pikcha {
    display: flex;
    margin-top: 98px;
    flex-direction: row;
    align-items: center;
    width: 362px; /* Ширина рисунка */
    height: 272px; /*  Высота рисунка */
    margin-left: 30px;
}

.pikcha :first-child {
    margin: 0;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    padding-left: 40px;
    margin-left: 50px;
}

.name :first-child {
    margin: 0;
}

.profil {
    color: #A3A3A3;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
}

.profil :first-child {
    margin: 0;
}

.soc__networks {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
}

.soc__network {
    margin-top: 22px;
    display: flex;
    margin-left: 30.27px;
}

.soc__network :first-child {
    margin: 0
}

.worker {
    justify-content: center;
    margin-top: 69px;
    height: 226px;
    width: 224px;
    margin-left: 90px;
}

.worker :first-child {
    margin: 0;
}