.pikcha {
    display: flex;
    margin-top: 98px;
    flex-direction: row;
    align-items: center;
}

.name {
    text-align: center;
    font-size: 24px;
    margin-left: 50px;
}

.name :first-child {
    margin: 0;
}

.profil {
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
}

.profil :first-child {
    margin: 0;
}

.soc__networks {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.worker {
    margin-top: 69px;
    height: 226px;
    align-items: ;
    width: 224px;
    margin-left: 89px;
}

.worker :first-child {
    margin: 0;
}